<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Users</title>
</head>
<body style="background-color:#FDF5E6;">

<div class="container">

        <table class="table table-striped">
            <caption><h1>Usuarios</h1></caption>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Nombre</th>
                <th>Rol</th>
            </tr>
            <tr th:each="user : ${users}">
                <td th:text="${user.id}">Id</td>
                <td th:text="${user.email}">descirption</td>
                <td th:text="${user.name}">direccion</td>

            </tr>
        </table>
    </div>

</body>
</html>